<ion-view view-title="About Svadhyaya">
    <ion-content padding="true" class="has-header">
        <div>
            <p>
                <strong>Version:</strong>0.1
                <x>todo: fill from global state</x>
            </p>

            <p>[www.sgsdattadeepam.org]</p>

            <p>
                <strong>Donations</strong>are most welcome. Please use the
                <a href="http://www.sgsdattadeepam.org">SGS Datta Deepam</a>site.</p>

            <p>Code Copyright &copy; 2015 Christopher Haynes under
                <a href="http://opensource.org/licenses/MIT">MIT License</a>
            </p>

            <p>Card database Copyright &copy; 2015 by SGS Datta Deepam</p>
        </div>
    </ion-content>
</ion-view>
