<ion-view>
    <x>on-swipe-left="next()" does not work in <ion-content...></x>
    <ion-content id="content" padding="true" class="has-header">
        <div ng-hide="Deck.card">
            First please select a deck in the library.
        </div>
        <div ng-show="Deck.card">
            <p>{{ Deck.card.text }}</p>
            <div ng-switch="Deck.card.type">
                <div ng-switch-when="multiple-choice">
                    <ion-list>
                        <ion-item ng-repeat="item in Deck.card.responseItems" ng-class="item.style" ng-click="response({{ $index }})">
                            {{ item.text }}
                        </ion-item>
                    </ion-list>
                    <button ng-hide="done" class="button button-stable button-block" ng-if="Deck.card.isMA" ng-click="maDone()">
                        Done
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
