<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Decks" icon="ion-navicon" ui-sref="tabs.decks">
    <ion-nav-view name="decks-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Study" icon="ion-lightbulb" ui-sref="tabs.study">
    <ion-nav-view name="study-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Filter" icon="ion-funnel" ui-sref="tabs.filter">
    <ion-nav-view name="filter-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="ion-gear-a" ui-sref="tabs.settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
