<ion-view>
    <ion-content padding="true" class="has-header">
        <div>
            <p>
                <strong>Right:</strong> {{ info | json }}</p>

            <p>
                <strong>Wrong:</strong>num</p>

            <p>
                <strong>Close:</strong>num</p>

            <p>
                <strong>Hints:</strong>nun</p>

            <p>
                <strong>Skipped:</strong>num</p>

            <p>
                <strong>Remaining:</strong>num</p>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block">Done</button>
        </div>
    </ion-content>
</ion-view>
