<ion-view>
    <ion-content padding="true" class="has-header">
        <div>
            <p>
                <strong>Right:</strong> {{ deck.right }}</p>

            <p>
                <strong>Wrong:</strong> {{ deck.wrong }}</p>

            <p>
                <strong>Close:</strong> {{ deck.close }}</p>

            <p>
                <strong>Hints:</strong> {{ deck.hints }}</p>

            <p>
                <strong>Skipped:</strong> {{ deck.skipped }}</p>

            <p>
                <strong>Remaining:</strong> {{ deck.remaining }}</p>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block">Done</button>
        </div>
    </ion-content>
</ion-view>
