<ion-view>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="range range-positive">Max
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <ion-item class="range range-positive">Min
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <ion-item>Tag 1</ion-item>
            <ion-item>Tag 2</ion-item>
            <label class="item item-select">
                <span class="input-label">And</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">And_not</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Or</span>
                <select></select>
            </label>
        </ion-list>
        <div class="button-bar">
            <button class="button button-stable button-block">Cancel</button>
            <button class="button button-stable button-block">Done</button>
        </div>
    </ion-content>
</ion-view>
