<ion-view ng-controller="ResetController as reset">
    <ion-content padding="true" class="has-header">
        <div class="list">
            <ion-radio ng-repeat="item in reset.options" ng-value="item.value" ng-model="reset.selection" ng-change="reset.selected(item)">
                {{ item.text }}
            </ion-radio>
        </div>
        <div class="warning" ng-hide="reset.hideWarning">
            <p>
                Resetting a deck, which cannot be reversed, erases all record of the deck's usage.
            </p>
        </div>
        <div class="button-bar" ng-hide="reset.hideConfirm">
            <button class="button button-stable button-block" ng-click="reset.confirmed()">
                Confirm
            </button>
        </div>
    </ion-content>
</ion-view>
