<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Study" icon-on="ion-ios-android-checkbox" icon-off="ion-android-checkbox-outline" ui-sref="tabs.study">
    <ion-nav-view name="study-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Decks" icon-on="ion-navicon" icon-off="ion-navicon-outline" ui-sref="tabs.decks">
    <ion-nav-view name="decks-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Filter" icon-on="ion-funnel" icon-off="ion-funnel-outline" ui-sref="tabs.filter">
    <ion-nav-view name="filter-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-gear-a" icon-off="ion-gear-a-outline" ui-sref="tabs.settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
