// app scss other than variables

.major-text {
  font-size: 120%; }

.minor-text {
  font-size: 90%; }

.fine-print {
  font-size: 80%; }

.warning {
  color: $warning-color; }

.deck-table {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

td {
  padding-left: 10px;
  padding-right: 5px; }

tr td:nth-child(odd) { font-weight: bold; }
